#logo_banner {
  display: block;
  position: absolute;
  top:0;
  left: 10px;
  z-index: 10;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: #ffffff no-repeat 95% 50%;    
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

@media screen and (max-width: 1120px) {
  #logo_banner {
    width: 100px;
  }
}

@media screen and (max-width: 920px) {
  #logo_banner {
    width: 50px;
  }

  #header_wrap .inner {
    padding: 80px 10px 0px 10px;
  }
}